@model guia_2.Models.MarcasdeAutos;

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="form-floating mb-3">
        <input asp-for="Name" placeholder="Nombre de marca" class="form-control" required>
        <label for="floatingInput">Nombre de la Marca</label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Logo" placeholder="Introduce el url de la imagen..." class="form-control" required>
        <label for="floatingInput">Logo</label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Created" placeholder="xxxx" class="form-control" required>
        <label for="floatingInput">Año de Creación</label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Origin" placeholder="País" class="form-control" required>
        <label for="floatingInput">País de origen</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" asp-for="Dercription"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Descripción</label>
    </div>
    <br>
    <button type="submit" value="Create" class="btn btn-primary">Guardar</button>
    
</form>

<div>
    <a class="btn btn-primary" asp-action="Index">Inicio</a>
</div>