@model guia_2.Models.MarcasdeAutos;

@{
    ViewData["Title"] = "Delete";
}

<h1>BORRAR</h1>

<h3>¿Estas seguro de que quieres borrar esta marca?</h3>

<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
    </form>