@model List<guia_2.Models.MarcasdeAutos>

@{
  ViewData["Title"] = "Index";
}

<form class="d-flex" style="padding: 2%;" method="POST" asp-action="Search">
  <input class="form-control me-2" type="search" placeholder="Buscar Marcas" aria-label="Search" name="search">
  <button class="btn btn-outline-dark" type="submit">Buscar por nombre</button>
</form>

<div class="row">
  @foreach (var item in Model)
  {
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src=@item.Logo class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">@item.Name</h5>
          <p class="card-text">@item.Dercription</p>
          <p class="card-text"><small class="text-muted">@item.Created</small></p>
          <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><small>Ver más</small></a>
        </div>
      </div>
    </div>
  }
</div>